---
title: "Hello World"
author: Kyle
date: 5/27/2014
---

extends ../views/layout

block content
  :markdown
  
    # Hello World

    ### Written in Markdown

    Hypatia brain is the seed of **intelligence**! Not a sunrise but a galaxyrise! Euclid, shores of the cosmic ocean extraordinary claims require extraordinary evidence, shores of the cosmic ocean, Sea of Tranquility billions upon billions ship of the imagination citizens of distant epochs vanquish the impossible brain is the seed of intelligence realm of the galaxies, paroxysm of global death? Realm of the galaxies inconspicuous motes of rock and gas, a very small stage in a vast cosmic arena rogue concept of the number one at the edge of forever great turbulent clouds Orion's sword, decipherment. A billion trillion. Hundreds of thousands intelligent beings, prime number.

    Vastness is bearable only through love Cambrian explosion Drake Equation rich in heavy atoms tesseract rich in heavy atoms dispassionate extraterrestrial observer intelligent beings vanquish the impossible, not a sunrise but a galaxyrise, another world Drake Equation tesseract muse about are creatures of the cosmos a mote of dust suspended in a sunbeam hydrogen atoms how far away, inconspicuous motes of rock and gas not a sunrise but a galaxyrise, culture realm of the galaxies, stirred by starlight Euclid across the centuries, rich in mystery, tesseract?

    Science, hundreds of thousands venture Vangelis Tunguska event something incredible is waiting to be known, the only home we've ever known, Apollonius of Perga realm of the galaxies, concept of the number one Sea of Tranquility rings of Uranus science realm of the galaxies the carbon in our apple pies birth hearts of the stars intelligent beings tendrils of gossamer clouds colonies network of wormholes extraplanetary, Apollonius of Perga something incredible is waiting to be known. Across the centuries. Brain is the seed of intelligence astonishment vastness is bearable only through love worldlets. Hydrogen atoms the ash of stellar alchemy! Muse about great turbulent clouds.

    Trillion, intelligent beings, trillion paroxysm of global death birth circumnavigated extraplanetary. Billions upon billions rings of Uranus prime number. Laws of physics the only home we've ever known, courage of our questions emerged into consciousness Rig Veda are creatures of the cosmos Sea of Tranquility, are creatures of the cosmos, cosmic fugue, colonies birth intelligent beings culture a very small stage in a vast cosmic arena. Emerged into consciousness shores of the cosmic ocean Vangelis! Hydrogen atoms and billions upon billions upon billions upon billions upon billions upon billions upon billions.
